:root {
    --btn-sm-wdith: clamp(75px, 8.9vw, 200px);
    --btn-lg-width: clamp(100px, 23.2vw, 400px);
    --btn-xl-width: clamp(120px, 29.3vw, 500px);
    --btn-xl-height: clamp(60px, 10.8vh, 250px);
    --color-primary-button: linear-gradient(to bottom right, #f00, #0df);
    --color-decor-grad-bottom-right: linear-gradient(to top left, #00DDFF, transparent);
    --color-decor-grad-bottom-left: linear-gradient(to top right, #f00, transparent);
    --color-decor-grad-top-left: linear-gradient(to bottom right, #f00, transparent);
    --decor-grad-width-height: 200px;
    --primary-color: #2C2C2C;
    --secondary-color: #4A4A4A;
    --primary-accent-color: #f00;
    --secondary-accent-color: #0df;
    --color-page-bg: #000;
    --color-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    vertical-align: middle;
}

body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Background Decorative Gradients */
.decor-grad-top-left, 
.decor-grad-bottom-left, 
.decor-grad-bottom-right {
    width: var(--decor-grad-width-height);
    height: var(--decor-grad-width-height);
    position: absolute;
    filter: blur(125px);
    z-index: 5;
}

.decor-grad-top-left {
    background: var(--color-decor-grad-top-left);
    border-bottom-right-radius: 50%;
    top: 0;
    left: 0;
}

.decor-grad-bottom-left {
    background: var(--color-decor-grad-bottom-left);
    border-top-right-radius: 50%;
    bottom: 0;
    left: 0;
}

.decor-grad-bottom-right {
    background: var(--color-decor-grad-bottom-right);
    border-top-left-radius: 50%;
    bottom: 0;
    right: 0;
}

/* Buttons */
.primary-btn {
    border: none;
    color: var(--color-text);
    background: var(--color-primary-button);
}


/* Button Size */
.custom-btn-lg {
    height: 60px;
    width: var(--btn-lg-width);
    border-radius: 100px;
}

/* Text Styles */
.title-hero {
    width: 80vw;
}

.subtitle {
    width: 60vw;
}

/* Responsive Design */

@media (max-width: 400px) {
    .blurred-circle-red-top {
        width: 80vw;
        height: 60vh;
        filter: blur(20vw);
    }

    .blurred-circle-red-bottom {
        width: 80vw;
        height: 60vh;
        filter: blur(20vw);
    }

    .blurred-circle-cyan {
        width: 80vw;
        height: 60vh;
        filter: blur(20vw);
    }
}

/* Nav Bar */

.navbar {
    position: sticky;
    top: 2rem;
    max-width: 60%;
    z-index: 1;
    background: linear-gradient(135deg, var(--bs-body-color), var(--bs-body-colorg)),
    linear-gradient(to top left, var(--bs-body-color), transparent);
    background-blend-mode: overlay;
    border: 2px solid var(--bs-body-color);
    border-radius: 30px;
    margin: 2rem auto 4rem auto;
    padding: 0.3rem;
    box-shadow: 0 0 20px var(--bs-body-color);
    background-color: var(--bs-body-bg);
}


/* pictures */
.pfp {
    color: var(--bs-body-color);
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid;
    border-radius: 30px;
}

.guild-icon {
    width: 128px;
    height: auto;
    border-radius: 25px;
}

.apology-pic {
    border-radius: 25px;
    margin: 2rem auto;
    width: 70%;
    height: auto;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
  width: 1rem;
  height: 1rem;
}

#logout {
    fill: red;
    width: 1rem;
    height: 1rem;
}

#logout:hover {
    opacity: 1;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


/* server-list */
.server-list {
    gap: 1rem;
}

.card {
    padding: 1rem;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* manage */

.module {
    border: 1px solid var(--bs-body-color);
    border-radius: 15px;
    padding: 1rem;
}

.module-expanded {
    width: 100%;
    padding: 2rem;
}

#category-list, #channel-list, #permission-list {
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 100%;
    border: 1px solid var(--bs-body-color);
    border-radius: 25px;
}

.categories, .channels, .permissions {
    margin: 0.25rem;
}

#noofcategory, #categoryname, #noofchannel, #channelname, #channel-type {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-body-color);
    color: var(--bs-body-color);
    border-radius: 5px;
    padding: 0.2rem;
}