:root {
    --btn-sm-wdith: clamp(75px, 8.9vw, 200px);
    --btn-lg-width: clamp(100px, 23.2vw, 400px);
    --btn-xl-width: clamp(120px, 29.3vw, 500px);
    --btn-xl-height: clamp(60px, 10.8vh, 250px);
    --flash-card-text-width: clamp(90px, 60vw + 1rem, 1536px);
    --flash-card-text-height: clamp(60px, 28.7vh + 1rem, 500px);
    --color-primary-button: linear-gradient(to bottom right, #f00, #0df);
    --color-decor-grad-bottom-right: linear-gradient(to top left, #00DDFF, transparent);
    --color-decor-grad-bottom-left: linear-gradient(to top right, #f00, transparent);
    --color-decor-grad-top-left: linear-gradient(to bottom right, #f00, transparent);
    --decor-grad-width-height: 200px;
    --primary-color: #2C2C2C;
    --secondary-color: #4A4A4A;
    --primary-accent-color: #f00;
    --secondary-accent-color: #0df;
    --color-page-bg: #000;
    --color-text: #fff;
}

body {
    color: var(--color-text);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

p, h1 {
    margin: 0;
}

/* Background Decorative Gradients */
.decor-grad-top-left, 
.decor-grad-bottom-left, 
.decor-grad-bottom-right {
    width: var(--decor-grad-width-height);
    height: var(--decor-grad-width-height);
    position: absolute;
    filter: blur(125px);
    z-index: 5;
}

.decor-grad-top-left {
    background: var(--color-decor-grad-top-left);
    border-bottom-right-radius: 50%;
    top: 0;
    left: 0;
}

.decor-grad-bottom-left {
    background: var(--color-decor-grad-bottom-left);
    border-top-right-radius: 50%;
    bottom: 0;
    left: 0;
}

.decor-grad-bottom-right {
    background: var(--color-decor-grad-bottom-right);
    border-top-left-radius: 50%;
    bottom: 0;
    right: 0;
}

/* Colors */
.color-primary-accent {
    color: var(--primary-accent-color);
}

.color-secondary-accent {
    color: var(--secondary-accent-color);
}

/* Background Colors */
.bg-primary-color {
    background-color: var(--primary-color);
}

/* Containers */
.landing-container {
    height: 100vh;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

.signup-popup-container {
    width: var(--signup-popup-width);
    height: var(--signup-popup-height);
    border-radius: 50px;
}

/* Buttons */
.primary-btn {
    border: none;
    color: var(--color-text);
    background: var(--color-primary-button);
}

.secondary-btn {
    border: solid 2px var(--color-text);
    color: var(--color-text);
    background: transparent;
}

.tertiary-btn {
    border: none;
    color: var(--color-text);
    background: var(--primary-color);
}

/* Button Size */
.custom-btn-sm {
    height: 60px;
    width: var(--btn-sm-wdith);
    border-radius: 100px;
}

.custom-btn-lg {
    height: 60px;
    width: var(--btn-lg-width);
    border-radius: 100px;
}

.custom-btn-xl {
    height: var(--btn-xl-height);
    width: var(--btn-xl-width);
    border-radius: 100px;
}

/* Stadium */
.primary-stadium {
    box-shadow: inset #7c7c7c 0px 0px 50px;
    border: none;
    background: transparent;
}

/* Stadium Size */
.stadium-lg {
    height: 60px;
    width: var(--btn-lg-width);
    border-radius: 20px;
}

/* Text Styles */
.title-hero {
    width: 80vw;
}

.subtitle {
    width: 60vw;
}

/* Profile Picture */
.profile-picture {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

/* Blur Background */
.bg-blur-small {
    filter: blur(25px);
}

/* Responsive Design */

@media (max-width: 400px) {
    .blurred-circle-red-top {
        width: 80vw;
        height: 60vh;
        filter: blur(20vw);
    }

    .blurred-circle-red-bottom {
        width: 80vw;
        height: 60vh;
        filter: blur(20vw);
    }

    .blurred-circle-cyan {
        width: 80vw;
        height: 60vh;
        filter: blur(20vw);
    }
}

/* Nav Bar */

.navbar {
    border-radius: 30px;
    max-width: 60%;
    position: sticky;
    z-index: 1;
    background: linear-gradient(135deg, var(--bs-body-color), var(--bs-body-colorg)),
    linear-gradient(to top left, var(--bs-body-color), transparent);
    background-blend-mode: overlay;
    border: 2px solid;
    border-radius: 30px;
    margin: 2rem auto;
    padding: 0.3rem;
    box-shadow: 0 0 20px var(--bs-body-color);
    background-color: var(--bs-body-bg);
}


/* pictures */
.pfp {
    color: var(--bs-body-color);
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid;
    border-radius: 30px;
}

.apology-pic {
    border-radius: 25px;
    margin: 2rem auto;
    width: 70%;
    height: auto;
}




.dropdown-item-danger {
  color: var(--bs-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red);
}
.dropdown-item-danger.active {
  background-color: var(--bs-red);
}

.btn-hover-light {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
.btn-hover-light:hover,
.btn-hover-light:focus {
  color: var(--bs-link-hover-color);
  background-color: var(--bs-tertiary-bg);
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: #0000001a;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow:
    inset 0 0.5em 1.5em #0000001a,
    inset 0 0.125em 0.5em #00000026;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
