{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
   
    <!-- Background Blurred Circles -->
    <div class="decor-grad-top-left"></div>
    <div class="decor-grad-bottom-right"></div>

    <!-- Main Content -->
    <div class="container d-flex justify-content-center align-items-center flex-column text-center py-4">
        <h1 class="display-1 title-hero">
            EduCord — Automating Education with Discord
        </h1>
        <p class="fs-4 my-4 subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quo odio velit commodi odit. Eius nesciunt nobis doloremque autem consequatur assumenda quis ullam aperiam sunt voluptatum sapiente, quidem, rem minima?</p>
        {% if not session['access_token'] %}
            <form action="/login" method="post">
                <button class="primary-btn custom-btn-lg fs-6">Get Started</button>
            </form>
        {% endif %}
    </div>
    
{% endblock %}